# INSTALACION DE PAQUETES

In [1]:
!pip install pandas numpy matplotlib seaborn scipy imblearn

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (3.10.3)
Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.15.3)
Requirement already satisfied: imblearn in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: imbalanced-learn in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from imblearn) (0.14.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: scikit-learn<2,>=1.4.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.7.2)
Requirement already satisfied: sklearn-compat<0.2,>=0.1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (0.1.5)
Requirement already satisfied: joblib<2,>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.5.2)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (3.6.0)

# CARGA DE LIBRERIAS

In [2]:
import database
import eda

# DESCARGA DE LOS DATOS

In [3]:
database.initialize_database()
cats = database.download_data()

# CARGA DATOS

In [4]:
database.upload_to_db(cats)

Todo listo. Base de datos en: /Users/guille/Documents/LASALLE/MASTER/MD005/Entregas/XGBOOST/database/quickdraw.db

# DESCARGA DE DATOS A DATAFRAME

In [5]:
df = database.get_dataframe()

# EDA

In [6]:
df

,id,category,data,recognized
0,1,dragon,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...,1
1,2,dragon,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...,1
2,3,dragon,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...,1
3,4,dragon,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...,1
4,5,dragon,"b""\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...",1
...,...,...,...,...
4995,4996,dragon,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...,1
4996,4997,dragon,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...,1
4997,4998,dragon,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...,1
4998,4999,dragon,"b""\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...",1
4999,5000,dragon,"b""\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...",1

Transformamos el dataframe

In [ ]:
df = eda.transform_dataframe(df)

In [7]:
eda.data_resume_info(df=df)

--- Informacion General ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          5000 non-null   int64
 1   category    5000 non-null   object
 2   data        5000 non-null   object
 3   recognized  5000 non-null   int64
dtypes: int64(2), object(2)
memory usage: 156.4+ KB

--- Valores Nulos ---
id            0
category      0
data          0
recognized    0
dtype: int64

--- Filas Duplicadas ---
Total: 0

--- Estadisticas Descriptivas ---

,id,category,data,recognized
count,5000.000000,5000,5000,5000.0
unique,NaN,1,5000,NaN
top,NaN,dragon,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...,NaN
freq,NaN,5000,1,NaN
mean,2500.500000,NaN,NaN,1.0
std,1443.520003,NaN,NaN,0.0
min,1.000000,NaN,NaN,1.0
25%,1250.750000,NaN,NaN,1.0
50%,2500.500000,NaN,NaN,1.0
75%,3750.250000,NaN,NaN,1.0
max,5000.000000,NaN,NaN,1.0